/* About Page Specific Styles */

.timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.timeline-entry {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}

.timeline-year {
  font-weight: bold;
  width: 15%;
  min-width: 100px;
}

.timeline-content {
  width: 85%;
}

.timeline-entry:nth-child(even) {
  background-color: #ffffff;
}

.timeline-entry:nth-child(odd) {
  background-color: #f7f7f7;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.margin-20 {
  margin-bottom: 20px  !important;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.timeline-content h3 {
  text-align: left;
  width: 100%;
  margin: 0;
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
  .timeline-year {
      width: 25%;
      min-width: 80px;
  }
  .timeline-content {
      width: 75%;
  }
  .container {
      padding: 0 10px;
  }
}