.profile-page {
  background-image: url('../images/lrc_20231229_30-102.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 60px 0;
}